.container-about {
    padding: 50px;
}

.container-about>div {
    padding: 20px;
}

.about-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text img {
    height: 350px;
    margin: 10px;
}

.about-title h4 {
    font-size: 30px;
    color: #303030;
    font-weight: 500;
}

.about-text p {
    text-indent: 3em;
    text-align: justify;
    line-height: 35px;
    font-size: 17px;
    color: #5a5a5a;
    font-weight: 400;
}

@media (max-width: 414px) {
    .about-text img {
        height: 250px;
        margin: 10px;
        padding: 10px;
    }
    .container-about>div {
        padding: 0px;
    }
    .container-about {
        padding: 30px;
    }
    .about-text {
        flex-wrap: wrap;
    }
    .about-title h4 {
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .about-text {
        flex-wrap: wrap;
    }
}