.list-container {
    width: 100%;
    display: flex;    
    justify-content: center;    
}

.list-content {
    width: 95%;
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
    max-height: 400px;
    overflow: auto;
}

.list-title {
    padding-bottom: 10px;
}

.list-title h4 {
    color: #2A303A;
}

.list-content>table {
    width: 100%;
    border-collapse: collapse;
}

.list-content>table>thead {
    border-bottom: #F4F4F4 2px solid;
    color: #AEAEAE;
    font-weight: font;
}

.list-content>table>thead>tr>th {
    padding: 10px 0px;
    color: #AEAEAE;
    font-weight: 520;
    text-align: left;
    font-size: 15px;
}

.list-content>table>tbody>tr>td {
    padding: 15px 0px;
    font-weight: 400;
    color: #2A303A;
    border-bottom: #F4F4F4 1px solid;
    font-size: 15px;
}

.list-content>table>tbody>tr:hover {
    background-color: #f4f4f43f;
    transition: 0.3s
}

.list-content>table {
    position: relative;
}

.list-content>table>thead>tr>th {
    position: sticky;
    top: -20px;
    background-color: white;
}

.action-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px
}

.action-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.action-content button {
    border: none;
    background-color: #2A303A;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
}

.action-info span {
    color: #AEAEAE;
}

.action-press {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.action-press>div {
    background-color: #fff;
    padding: 5px 0px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-press>div>i {
    margin: 0px 10px;
    color: #AEAEAE;
}

.action-press>div>input {
    height: 100%;
    background-color: red;
    padding: 5px;
    background-color: transparent;
    border: none;
    width: 300px;
}

.action-press>div>select {
    height: 100%;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: #AEAEAE;
}

.action-press>div>select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.action-press>div>input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.action-press>* {
    margin-left: 35px
}

@media (max-width: 768px) {
    .action-press>* {
        margin: 5px;
        width: 100%;
    }
    .action-press>div>input {
        width: 100%;
    }
    .action-press>div>select {
        width: 100%;
    }
    .action-content {
        flex-direction: column-reverse;
    }
    .action-info {
        margin: 5px;
    }
}