* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    width: 50px;
    overflow-x: hidden;
    background-color: #061D2C;
    box-shadow: 5px 0 0 #0095E0;
    transition: 0.5s;
    position: fixed;
    z-index: 999;
}

.navigation-container {
    width: 50px;
}

body {
    display: flex;
    background-color: #F4F4F4;
}

main {
    width: calc(100% - 50px);
}

.navigation:hover {
    width: 250px;
}

.navigation .navigationContainer {
    width: 100%;
    height: 100vh;
}

.navigation .navigationContainer .logo {
    width: 40%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.navigation .navigationContainer .logo img {
    width: 100%;
    margin: 3rem 0;
}

.navigation .navigationContainer ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
    flex-direction: column;
}

.navigation .navigationContainer ul .list {
    position: relative;
    width: 90%;
    padding: .5rem;
    border-radius: .6rem 0 0 .5rem;
}

.navigation .navigationContainer ul .list.active {
    background-color: #0095E0;
}

.navigation .navigationContainer ul .list.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #061D2C;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #0095E0;
}

.navigation .navigationContainer ul .list.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #061D2C;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #0095E0;
}

.navigation .navigationContainer ul .list a {
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    font-size: .9rem;
    align-items: center;
    color: #fff;
}

.navigation .navigationContainer ul .list a .icon ion-icon {
    font-size: 1.4rem;
}


/* USER LOGGED */

.user-isLogged {
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
}

.user-isLogged .user-container {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.user-isLogged .user-container .user-img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.user-isLogged .user-container .user-img img {
    width: 100%;
    box-shadow: rgb(0 0 0 / 10%) 0 .3rem .9rem;
}

.user-isLogged .user-container .user-name {
    position: relative;
    display: flex;
    gap: .5rem;
    font-size: .9rem;
    color: rgb(88, 88, 88);
    align-items: center;
}

.user-isLogged .user-container .user-name .user-actions {
    width: 100%;
    position: absolute;
    display: flex;
    padding: 1rem;
    margin-top: 4rem;
    justify-content: flex-end;
    box-shadow: rgb(0 0 0 / 10%) 0 .3rem .9rem;
    display: none;
}

.user-isLogged .user-container .user-name .user-actions.active {
    display: flex;
}

.user-isLogged .user-container .user-name .user-actions ul {
    width: 100%;
}

.user-isLogged .user-container .user-name .user-actions ul li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    color: #2A303A;
    align-items: center;
}

.user-isLogged .user-container .user-name .user-actions a ion-icon {
    font-size: 1.3rem;
}


/* DASHBOARD */

.titlePage {
    width: 100%;
}

.titlePage .titlePage-container {
    width: 95%;
    margin: 0 auto;
}

.titlePage .titlePage-container h1 {
    color: #AEAEAE;
}

.titlePage .titlePage-container span {
    font-weight: 300;
    font-size: .8rem;
    color: #AEAEAE;
}

.dashboard-cards {
    width: 100%;
}

.dashboard-cards .dashboard-card-Container {
    width: 95%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 100%);
    margin: 2rem auto;
}

.dashboard-cards .dashboard-card-Container .dashboard-card-item {
    width: 100%;
    padding: 1.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background-color: #fff;
}

.dashboard-cards .dashboard-card-Container .dashboard-card-item ion-icon {
    font-size: 2.5rem;
    color: #061D2C;
}

.dashboard-cards .dashboard-card-Container .dashboard-card-item .desc-cards p {
    color: #AEAEAE;
    padding: 0.5rem 0;
}

.dashboard-cards .dashboard-card-Container .dashboard-card-item .desc-cards span {
    font-size: 1.5rem;
    font-weight: 500;
}

/* TATBLE */
#home .list-container .client-content,
#users .list-container .client-content {
    display: flex;
    gap: .5rem;
    align-items: center
}

#home .list-container .client-content .client-img,
#users .list-container .client-content .client-img {
    min-width: 35px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
}

#home .list-container .client-content .client-img img,
#users .list-container .client-content .client-img img {
    width: 100%;
}


#home .list-container tbody .client,
#users .list-container tbody .client {
    border-radius: 3px;
    padding: 0.5rem;
    text-align: center;
    font-weight: 400;

    display: flex;
    gap: .5rem;
    align-items: center;
}

#home .list-container tbody .client ion-icon,
#users .list-container tbody .client ion-icon {
    font-size: 1.4rem;
}

#home .list-container tbody .client.off,
#users .list-container tbody .client.off {
    color: #C21B1B;
}

#home .list-container tbody .client.on,
#users .list-container tbody .client.on {
    color: #207E35;
}

#home .list-container tbody .client.pend {
    color: #e4bb4d;
}

.trasations-posts {
    width: 100%;
}

.trasactions-posts .list-container .list-content {
    width: 100%;
}

.trasactions-posts .trasactions-posts-container {
    width: 95%;
    display: flex;
    gap: 1rem;
    color: #2A303A;
    margin: 2rem auto;
}

.trasactions-posts .trasactions-container {
    width: 50%;
    background-color: #fff;
}

.trasactions-posts .posts-container {
    width: 50%;
    padding: 20px;
    background-color: #fff;
}

.trasactions-posts .posts-container h4 {
    border-bottom: #F4F4F4 2px solid;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.trasactions-posts .posts-container .posts-content {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.trasactions-posts .posts-container .posts-content .posts-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 3px;
    padding: 1rem;
    background-color: #F4F4F4;
}

.trasactions-posts .posts-container .posts-content .posts-item .img-post {
    min-width: 35px;
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(197, 197, 197);
}

.trasactions-posts .posts-container .posts-content .posts-item .img-post img {
    width: 100%;
}

.trasactions-posts .posts-container .posts-content .posts-item .desc-post {
    width: 100%;
}

.trasactions-posts .posts-container .posts-content .posts-item .desc-post p {
    font-size: .9;
    font-weight: 500;
}

.trasactions-posts .posts-container .posts-content .posts-item .desc-post span {
    font-size: .8rem;
    font-weight: 300;
    text-align: justify;
}

/* USUARIOS MODAL */

#users .new-modal-container .new-modal-content {
    width: 35%;
    padding: 2rem;
}

#users .new-modal-container .new-modal-content .login-container {
    width: 100%;
    height: auto !important;
    margin: 2rem 0;
}

#users .login-content-create,
#users .login-entry {
    width: 100%;
}

#users .new-modal-container .new-modal-content .login-container input {
    width: 100%;
}

#users .client-content .client-img img {
    width: 100%;
}

#users .list-container .list-content {    
    max-height: 100%;
}

@media (min-width: 768px) and (max-width: 1080px) {
    .dashboard-cards .dashboard-card-Container {
        grid-template-columns: repeat(2, 6fr);
    }
}

@media (min-width: 1081px) {
    .dashboard-cards .dashboard-card-Container {
        grid-template-columns: repeat(4, 3fr);
    }
}