.list-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-content {
    width: 95%;
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
    max-height: 400px;
    overflow: auto;
}

.list-title {
    padding-bottom: 10px;
}

.list-title h4 {
    color: #2A303A;
}

.list-content>table {
    width: 100%;
    border-collapse: collapse;
}

.list-content>table>thead {
    border-bottom: #F4F4F4 2px solid;
    color: #AEAEAE;
    font-weight: font;
}

.list-content>table>thead>tr>th {
    padding: 10px 0px;
    color: #AEAEAE;
    font-weight: 520;
    text-align: left;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    z-index: 997;
}

.list-content>table>tbody>tr>td {
    padding: 15px 0px;
    font-weight: 400;
    color: #2A303A;
    border-bottom: #F4F4F4 1px solid;
    font-size: 15px;
}

.list-content>table>tbody>tr:hover {
    background-color: #f4f4f43f;
    transition: 0.3s
}

.list-content>table>tbody>tr {
    position: relative;
}

.list-content>table>tbody>tr>td:nth-last-child(1) {
    width: 30px;
}

.more-option-container {
    position: relative;
    text-align: end;
    display: flex;
    justify-content: center;
}

.more-option-container:hover .more-option {
    display: block;
}

.more-option {
    display: none;
    position: absolute;
    width: 100px;
    right: 0px;
    top: -70px;
    border-radius: 4px;
    width: 150px;
    background-color: #F4F4F4;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.116) 1px 0px 8px 1px;
    z-index: 998;
}

.more-option button {
    border: none;
    padding: 10px;
    background-color: #F4F4F4;
    color: #061D2C;
    width: 100%;
    cursor: pointer;
}

.list-content>table {
    position: relative;
}

.list-content>table>thead>tr>th {
    position: sticky;
    top: -20px;
}

.action-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px
}

.action-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.action-content button {
    border: none;
    background-color: #2A303A;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
}

.action-info span {
    color: #AEAEAE;
}

.action-press {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.action-press>div {
    background-color: #fff;
    padding: 5px 0px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-press>div>i {
    margin: 0px 10px;
    color: #AEAEAE;
}

.action-press>div>input {
    height: 100%;
    background-color: red;
    padding: 5px;
    background-color: transparent;
    border: none;
    width: 300px;
}

.action-press>div>select {
    height: 100%;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: #AEAEAE;
}

.action-press>div>select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.action-press>div>input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.action-press>* {
    margin-left: 35px
}

.list-img {
    display: flex;
    gap: .5rem;
    align-items: center
}

.list-img div {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
    overflow: hidden;
}

.list-img div>img {
    height: 100%
}

.new-modal-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #252525ac;
    z-index: 999;
    animation: fadeInOpacity 0.3s linear;
}

.entry-content {
    margin-bottom: 4px;
}

.new-modal-content {
    padding: 15px;
    background: #fff;
    border-radius: 2px;
    width: 60%;
    animation: fadeIn 0.3s linear;
}

.new-modal-header {
    padding: 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-modal-close {
    font-size: 35px;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    right: 30px;
    top: 25px;
}

.new-modal-header h2 {
    font-size: 20px;
    color: #252525ac;
}

.new-modal-main {
    padding: 10px 0px;
}

.btn-modal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-modal button {
    width: 120px;
    background-color: #2493DE;
    border: none;
    color: #fff;
    padding: 0.6rem 0px;
    border-radius: 3px;
}

.modal-delete-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #252525ac;
    z-index: 999;
    animation: fadeInOpacity 0.3s linear;
}

.modal-delete-content {
    background-color: #fff;
    border-radius: 3px;
    width: 420px;
}

.modal-delete-text {
    display: flex;
    padding: 20px;
}

.modal-delete-icon i {
    color: #ca4345;
    width: 35px;
    height: 35px;
    background-color: #dc959681;
    box-shadow: 1px 0px 8px 1px #dc959615;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.modal-delete-info>* {
    padding-bottom: 10px;
}

.modal-delete-action {
    background-color: #F4F4F4;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.modal-delete-info h4 {
    color: rgb(90, 89, 89);
}

.modal-delete-info p {
    color: #838383;
    font-size: 15px;
}

.modal-delete-action>* {
    margin-left: 8px;
    padding: 8px 10px;
}

.btn-cancel {
    border: 1px solid rgb(201, 199, 199);
    background-color: #fff;
    border-radius: 3px;
}

.btn-del {
    border: 1px solid #e25f63;
    background-color: #e25f63;
    color: #fff;
    border-radius: 3px;
}

@media (max-width: 992px) {
    .new-modal-content {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .action-press>* {
        margin: 5px;
        width: 100%;
    }
    .action-press>div>input {
        width: 100%;
    }
    .action-press>div>select {
        width: 100%;
    }
    .action-content {
        flex-direction: column-reverse;
    }
    .action-info {
        margin: 5px;
    }
    .new-modal-content {
        width: 80%;
    }
    .modal-delete-content {
        width: 90%;
    }
}

@media (max-width: 414px) {
    .new-modal-content {
        width: 90%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        width: 10%;
    }
    100% {
        width: 60%;
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut {
    0% {
        width: 60%;
    }
    100% {
        opacity: 0;
        width: 10%;
    }
}