* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    position: static !important;
    top: 0 !important;
}

#google_translate_element {
    display: none;
}

.goog-te-banner-frame {
    display: none !important;
}