<%- include('../partials/header', {title: 'Soldiers Construções' }) %>

    <div class="Subheader">
        <div class="sub-title-content">
            <div class="sub-title">
                <h4>QUEM SOMOS</h4>
            </div>
            <div class="sub-pagination">
                <a href="/">Home</a>
                <i class="fa-solid fa-angle-right"></i>
                <span>Quem somos</span>
            </div>
        </div>
        <img src="/img/slide/slide03.png" alt="">
    </div>

    <div class="container-about">
        <div class="about-title">
            <h4>A Construtora e Incorporadora Soldiers</h4>
        </div>
        <div class="about-text">
            <p>A empresa teve seu início no ano de 2019, tendo como ponto de partida a vontade e necessidade de atender pessoas na sociedade que tem o sonho de ter a sua casa própria, mas não conseguem adquirir pelos meios convencionais. Desde então, nossos
                empreendimentos são alinhados com excelência, sustentabilidade e tecnologia. Pensamos em uma maneira de construir excelentes casas e que também sejam sustentáveis. Nossos projetos são elaborados de forma que possa atender todo o tipo de
                classe, haja vista que os valores com que trabalhamos são fantasticamente baixos. Buscamos parceiros no âmbito do mercado financeiro que nos proporciona fazer muito com pouco investimento, podendo os nossos clientes investirem valores
                que não comprometem o seu orçamento. Temos como objetivo entregar casas prontas para os nossos clientes no lapso temporal que for combinado entre as partes do contrato. O intuito é fazer com que o máximo de pessoas conquistem a sua casa
                própria e realizem seus sonhos.</p>
        </div>
        <div class="about-text">
            <img src="/img/about/grupo-4441.png">
            <p>Nossos projetos são elaborados de forma que possa atender todo o tipo de classe, haja vista que os valores com que trabalhamos são fantasticamente baixos. Buscamos parceiros no âmbito do mercado financeiro que nos proporciona fazer muito com
                pouco investimento, podendo os nossos clientes investirem valores que não comprometem o seu orçamento. Temos como objetivo entregar casas prontas para os nossos clientes no lapso temporal que for combinado entre as partes do contrato.
                O intuito é fazer com que o máximo de pessoas conquistem a sua casa própria e realizem seus sonhos.</p>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>