<%- include('../partials/header', {title: 'Soldiers Construções - Contato' }) %>
    <section>
        <div class="companiesContainer">
            <div class="companiesBanner">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/img/companies/bg1.jpg" alt="">
                            <div class="swiper-desc">
                                <div class="content-text">
                                    <p>Satisfação e Segurança</p>
                                    <span>
                                        Trabalhamos com objetivos e
                                        metas bem definidas, buscando
                                        excelência na prestação de nossos
                                        serviços para alcançar a satisfação
                                        de nossos clientes.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bannerContact">
                    <div class="contactContainer">
                        <p><b>Faça seu orçamento</b>, faça agora com um de nossos especialistas em Construção.</p>
                        <a href="/contato" class="btnAnimation">Entre em contato</a>
                    </div>
                </div>
            </div>
            <div class="companiesDesc" data-aos="fade-right">
                <div class="title">
                    <div class="titleCompanies">
                        <p>Sobre</p>
                    </div>
                    <div class="nameCompanies">
                        <p>Socialy</p>
                    </div>
                    <div class="historyCompanies">
                        <p>
                            Nossos projetos são elaborados de forma que possa atender todo o tipo de classe, haja vista
                            que os valores com que trabalhamos são fantasticamente baixos. Buscamos parceiros no âmbito
                            do mercado financeiro que nos proporciona fazer muito com pouco investimento, podendo os
                            nossos clientes investirem valores que não comprometem o seu orçamento.
                        </p>
                        <p>
                            Temos como objetivo entregar casas prontas para os nossos clientes no lapso temporal que for
                            combinado entre as partes do contrato. O intuito é fazer com que o máximo de pessoas
                            conquistem a sua casa própria e realizem seus sonhos.
                        </p>
                    </div>
                </div>
                <div class="img" data-aos="fade-left">
                    <img src="/img/companies/man.jpg" alt="">
                </div>
            </div>
            <div class="contactAddres">
                <div class="contactContainer">
                    <section>
                        <div class="contactContent">                           
                            <div class="address" data-aos="fade-up-right">
                                <h1>Onde estamos</h1>
                                <p>Av. Estrada do Rio Jaguari, Centro, Extrema/MG - 37.640-000</p>
                            </div>
                            <div class="AddressItem" data-aos="fade-up-left">
                                <h1>Contato</h1>
                                <p>Tel: (35) 3558-8568 | (35) 3595-8542</p>
                            </div>
                        </div>
                        <div class="formContact" data-aos="zoom-in">
                            <div class="formContactContainer">                                
                                <form method="post">                                   
                                    <div class="inputContent">
                                        <div class="contactDesc">
                                            <p>Conversse agora com uma especialista</p>
                                        </div>
                                        <div class="input-item">
                                            <input required type="text" name="nome" placeholder="Bruno">
                                        </div>
                                        <div class="input-item">
                                            <input required type="text" name="email" placeholder="email@exemplo.com">
                                        </div>
                                        <div class="input-item">
                                            <input required type="text" name="cidade" placeholder="Extrema - MG">
                                        </div>
                                        <div class="input-item">
                                            <input required type="text" name="telefone"  onkeyup="mascara('(##) ####-####',this,event,false)" placeholder="(xx) xxxx-xxxx">
                                        </div>
                                        <div class="send-btn">
                                            <button class="btnAnimation">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="local">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14706.437484462313!2d-46.32724871723692!3d-22.85393735944358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ceac314b202477%3A0x7445e7bbfc69c8b0!2sExtrema%2C%20MG%2C%2037640-000!5e0!3m2!1spt-BR!2sbr!4v1651416467081!5m2!1spt-BR!2sbr"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

        <!--  mensagem  -->
        <% if(message !="" ) {%>
            <div class="alert alert-<%= type %>">
                <span><%= message %></span> <i onclick="closeAlert(event)" class="fa-solid fa-xmark"></i>
            </div>
        <% } %>     

    </section>
    <%- include('../partials/footer.ejs') %>
        <script>

            AOS.init();

            var swiper = new Swiper(".mySwiper", {
                autoplay: {
                    delay: 3500,
                    disableOnInteraction: false,
                },
                loop: true
            });
        </script>

<script src="/js/mask"></script>