<%- include('../partials/header', {title: 'Soldiers Construções - Empreendimentos' }) %>

    <div class="Subheader">
        <div class="sub-title-content">
            <div class="sub-title">
                <h4>Empreendimentos</h4>
            </div>
            <div class="sub-pagination">
                <a href="/">Home</a>
                <i class="fa-solid fa-angle-right"></i>
                <span>Empreendimentos</span>
            </div>
        </div>
        <img src="/img/slide/slide03.png" alt="">
    </div>

    <div class="container-post">
        <div class="content-post">
            <div class="post-img">
                <img src="/upload/post/0/teste04.jpg" alt="">
            </div>
            <div class="post-title">
                <h3>Ambience Vila Mariana, a essência de se viver bem!</h3>
            </div>
            <div class="post-description">
                <p> O Ambience é um empreendimento único, projetado bem no coração e área mais nobre da Vila Mariana, que mudará a forma como você percebe e se…</p>
            </div>
            <div class="post-more">
                <a href="">Ver mais...</a>
            </div>
        </div>

        <div class="content-post">
            <div class="post-img">
                <img src="/upload/post/0/teste05.jpg" alt="">
            </div>
            <div class="post-title">
                <h3>Athos Paraíso: sempre contemporâneo</h3>
            </div>
            <div class="post-description">
                <p> Aqui você viverá a experiência de morar em um ambiente transformador, com uma arquitetura diferenciada, um habitat urbano que despertará todos os sentidos de bem-estar e tranquilidade...</p>
            </div>
            <div class="post-more">
                <a href="">Ver mais...</a>
            </div>
        </div>

    </div>


    <%- include('../partials/footer.ejs') %>