<%- include('../partials/header', {title: 'Soldiers Construções' }) %>
    <!-- Swiper init -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="desc">
                    <div class="content">
                        <div class="title init">
                            <p>Faça uma simulação e comece a planejar o sonho da casa própria.</p>
                        </div>
                        <div class="button init">
                            <a href="/">Simular agora</a>
                        </div>
                    </div>
                </div>
                <img src="/img/slide/slide01.png" alt="">
            </div>
            <div class="swiper-slide">
                <div class="desc">
                    <div class="content secondary">
                        <div class="title">
                            <p>Contruindo</p>
                            <p>e realizando</p>
                        </div>
                        <div class="body sonhos">
                            <p>Sonhos</p>
                        </div>
                    </div>
                </div>
                <img src="/img/slide/slide02.png" alt="">
            </div>
            <div class="swiper-slide">
                <div class="desc">
                    <div class="content">
                        <div class="title">
                            <p>Você sonha em sair <br>do aluguel?</p>
                        </div>
                        <div class="body">
                            <p>A Soldiers contrói!</p>
                        </div>
                        <div class="history">
                            <p>Conhecla mais sobre o empreendimento que vai mudar o seu estilo de vida.</p>
                        </div>
                        <div class="button">
                            <a href="/">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <img src="/img/slide/slide03.png" alt="">
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- Company -->
    <div class="aboutCompany">
        <div class="content">
            <div class="content-title" data-aos="zoom-in">
                <div class="title">
                    <div class="titleQuestion">
                        <p>POR QUE A SOLDIERS</p>
                    </div>
                    <div class="titleDesc">
                        <p>Você merece viver bem</p>
                    </div>
                </div>
                <div class="aboutHistory">
                    <p>A Soldiers é especializada na construção de imóveis para quem sonha morar bem. Temos o compromisso de realizar o sonho da casa própria do maior número de pessoas, idealizando produtos bem localizados, projetos inteligentes, sustentáveis,
                        com ótima relação custo-benefício para o nosso principal ativo, nossos clientes.</p>
                </div>
            </div>
            <section class="cards">
                <div class="container">


                    <div class="card" data-aos="fade-right">
                        <div class="card-img">
                            <img src="/img/cards/cust-min.png" alt="">
                        </div>
                        <div class="card-desc">
                            <div class="title-card">
                                <p>Custo-benefício</p>
                            </div>
                            <div class="text-card">
                                <p>Nossa expertise garante a entrega de produtos de alta performance e em larga escala.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card" data-aos="fade-left">
                        <div class="card-img">
                            <img src="/img/cards/qual-min.png" alt="">
                        </div>
                        <div class="card-desc">
                            <div class="title-card">
                                <p>Excelência e qualidade</p>
                            </div>
                            <div class="text-card">
                                <p>Atuamos com processos padronizados e rigoroso controle de qualidade em cada produto.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card" data-aos="fade-right">
                        <div class="card-img">
                            <img src="/img/cards/green-min.png" alt="">
                        </div>
                        <div class="card-desc">
                            <div class="title-card">
                                <p>Sustentabilidade</p>
                            </div>
                            <div class="text-card">
                                <p>Preservar e cuidar do meio ambiente faz parte do projeto de cada empreendimento.</p>
                            </div>
                        </div>
                    </div>


                    <div class="card" data-aos="fade-left">
                        <div class="card-img">
                            <img src="/img/cards/ref-min.png" alt="">
                        </div>
                        <div class="card-desc">
                            <div class="title-card">
                                <p>Referência no mercado</p>
                            </div>
                            <div class="text-card">
                                <p>Atuamos com processos padronizados e rigoroso controle de qualidade em cada produto.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Benefits -->
    <div class="benefits" data-aos="zoom-in">
        <div class="benefitsContainer">
            <div class="benefitsContent">
                <div class="title">
                    <div class="titleBenefits">
                        <p>VANTAGENS</p>
                    </div>
                    <div class="descBenefits">
                        <p>Investindo em um empreendimento Soldiers</p>
                    </div>
                </div>
                <div class="benefitsCards">
                    <div class="cardsList">
                        <!-- CARD-ITEM -->
                        <section class="cardContainer" data-aos="fade-right">
                            <div class="cardItem">
                                <div class="benefits-img-card">
                                    <img src="/img/relogio.png" alt="">
                                </div>
                            </div>
                            <div class="benefits-desc-card">
                                <div class="benefits-title">
                                    <p>Pontualidade</p>
                                </div>
                                <div class="benefits-desc">
                                    <p>
                                        Política de seriedade, compromisso e pontualidade na execução de entregas.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <!-- CARD-ITEM -->
                        <section class="cardContainer">
                            <div class="cardItem">
                                <div class="benefits-img-card">
                                    <img src="/img/verific.png" alt="">
                                </div>
                            </div>
                            <div class="benefits-desc-card">
                                <div class="benefits-title">
                                    <p>Segurança</p>
                                </div>
                                <div class="benefits-desc">
                                    <p>
                                        Toda negociação é feita com segurança e esclarecimento de dúvidas do cliente.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <!-- CARD-ITEM -->
                        <section class="cardContainer" data-aos="fade-left">
                            <div class="cardItem">
                                <div class="benefits-img-card">
                                    <img src="/img/like.png" alt="">
                                </div>
                            </div>
                            <div class="benefits-desc-card">
                                <div class="benefits-title">
                                    <p>Satisfação</p>
                                </div>
                                <div class="benefits-desc">
                                    <p>
                                        Trabalhamos com objetivos e metas bem definidas, buscando excelência na prestação de nossos serviços para alcançar a satisfação de nossos clientes.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Indicate -->
    <div class="indicate">
        <div class="indicateContainer">
            <div class="indicateTitle" data-aos="zoom-in-down">
                <p>Participe do Programa Indique e Ganhe</p>
                <a href="" class="btnAnimation">Clique pra indicar</a>
            </div>
            <div class="indicateImg" data-aos="zoom-in-left">
                <img src="/img/indicate.png" alt="">
            </div>
        </div>
    </div>
    <!-- Projects -->
    <div class="projects" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="projectsContainer">
            <div class="titleProjects">
                <p>NOSSOS PROJETOS</p>
            </div>
            <div class="descProjects">
                <p>Descubra a casa ideal para o seu estilo de vida</p>
            </div>
            <!-- Swiper -->
            <div class="swiper myProject">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/projetcts/01.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/projetcts/01.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/projetcts/01.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/projetcts/01.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/projetcts/01.webp" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="btn-show">
                <a href="" class="btnAnimation">Ver mais</a>
            </div>
        </div>
    </div>
    <!-- NEWSLETTER -->
    <div class="newsletter">
        <div class="newsletterContainer">
            <div class="newsletterDesc">
                <div class="newsletterTitle">
                    <p>Preencha e receba as informações sobre nossos empreendimentos.</p>
                </div>
            </div>
            <div class="newsletterContent">
                <form action="">
                    <div class="input-content">
                        <div class="input-item">
                            <input type="text" placeholder="Bruno">
                        </div>
                        <div class="input-item">
                            <input type="text" placeholder="email@exemplo.com">
                        </div>
                        <div class="input-item">
                            <input type="text" placeholder="Extrema - MG">
                        </div>
                        <div class="input-item">
                            <input type="text" placeholder="(xx) xxxx-xxxx">
                        </div>
                    </div>
                    <div class="send-btn">
                        <a href="" class="btnAnimation">Enviar</a>
                    </div>
                    <div class="info">
                        <span>*Fique tranquilo(a), não mandamos spams.</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>

        <script>
            var swiper = new Swiper(".mySwiper", {
                spaceBetween: 10,
                centeredSlides: true,
                autoplay: {
                    delay: 3500,
                    disableOnInteraction: false,
                },
                loop: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
        <script>
            AOS.init();

            var swiper = new Swiper(".myProject", {
                slidesPerView: 1,
                spaceBetween: 10,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                breakpoints: {
                    640: {
                        slidesPerView: 1,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 40,
                    },
                    1024: {
                        slidesPerView: 3,
                        spaceBetween: 50,
                    },
                },
            });
        </script>