<%- include('../partials/header', {title: 'Soldiers Construções' }) %>



    <div class="publication-container">

        <div class="publication-content">
            <div class="publication-title">
                <h2>Principais etapas de uma obra até a entrega</h2>
                <span><i class="fa-regular fa-clock"></i> 23 de junho de 2021</span>
            </div>
            <div class="publication-img">
                <img src="/upload/post/0/teste05.jpg" alt="">
            </div>
            <div class="publication-text">
                <p>Do momento da compra do apartamento na planta até a entrega das chaves, muitas etapas acontecem. Normalmente, os futuros moradores têm curiosidade para saber o que acontece nas principais fases da obra, pois só assim é possível controlar
                    a ansiedade para aguardar o tão esperado momento de fazer a mudança.</p>
                <p>Entenda sobre o que acontece em cada fase da obra Projeto arquitetônico Toda obra começa no projeto arquitetônico, elaborado por um arquiteto ou engenheiro civil. O projeto contém a planta baixa do imóvel, cortes, cobertura, fachadas e
                    especificações das aberturas (portas e janelas).</p>
                <p>O trabalho do profissional garante que os espaços sejam bem aproveitados, tenham uma boa circulação, funcionalidade e conforto térmico. Depois é preciso aguardar a aprovação do projeto final na prefeitura, que verifica se tudo está de
                    acordo com o código de obras do município em questão. Só então é feita a matrícula do imóvel e emitido o alvará de construção..</p>
            </div>
        </div>


        <div class="others-publication">
            <h1>Veja também</h1>
            <div>

                <div class="others-publication-content">
                    <div class="others-publication-img">
                        <img src="/upload/post/0/teste05.jpg" alt="">
                    </div>
                    <div class="others-publication-title">
                        <a href="">
                            <h2>Principais etapas de uma obra até a entrega</h2>
                        </a>
                        <span><i class="fa-regular fa-clock"></i> 23 de junho de 2021</span>
                    </div>
                </div>

                <div class="others-publication-content">
                    <div class="others-publication-img">
                        <img src="/upload/post/0/teste05.jpg" alt="">
                    </div>
                    <div class="others-publication-title">
                        <a href="">
                            <h2>Principais etapas de uma obra até a entrega</h2>
                        </a>
                        <span><i class="fa-regular fa-clock"></i> 23 de junho de 2021</span>
                    </div>
                </div>

                <div class="others-publication-content">
                    <div class="others-publication-img">
                        <img src="/upload/post/0/teste05.jpg" alt="">
                    </div>
                    <div class="others-publication-title">
                        <a href="">
                            <h2>Principais etapas de uma obra até a entrega</h2>
                        </a>
                        <span><i class="fa-regular fa-clock"></i> 23 de junho de 2021</span>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <%- include('../partials/footer.ejs') %>