<div class="modal-delete-container">
    <div class="modal-delete-content">
        <div class="modal-delete-text">
            <div class="modal-delete-icon">
                <i class="fa-solid fa-exclamation"></i>
            </div>
            <div class="modal-delete-info">
                <h4>Deletando registro</h4>
                <p>Tem certeza que você deseja deletar esse registro? após a confirmação não será possivel desfazer essa operação</p>
            </div>
        </div>
        <div class="modal-delete-action">
            <button class="btn-cancel">Cancelar</button>
            <button class="btn-del">Deletar</button>
        </div>
    </div>
</div>