</main>
<footer>
    <div class="container-footer">
        <div>
            <div class="content-footer">
                <span>Institucional</span>
                <a href="/">Início</a>
                <a href="/about">Quem somos</a>
                <a href="/empreendimentos">Empreendimentos</a>
                <a href="/blog">Blog</a>
            </div>
            <div class="content-footer">
                <span>Clientes</span>
                <a href="/login">Portal do cliente</a>
                <a href="/contato">Indicação Premiada</a>
                <a href="https://www.construcoins.com.br">Construcoins</a>
            </div>
            <div class="content-footer">
                <span>Contato</span>
                <a href="/contato">Fale conosco</a>
            </div>
            <div class="content-footer-social">
                <div class="logo-footer">
                    <img src="/img/logo-white.png">
                </div>
                <div class="social-links">
                    <a href="https://www.facebook.com/Soldiers-Construtora-e-Incorporadora-103409048599507"><i class="fa-brands fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/soldiersconstrutora/"><i class="fa-brands fa-instagram-square"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <div>
                <span>©2021 Soldiers - Todos os Direitos Reservados | CNPJ 34.812.864/0001-20 </span>
            </div>
            <div>
                <span>Desenvolvido por<a href="https://reqsolution.com.br/">ReqSolution</a> | <a href="/upload/Termos e privacidade.pdf">Termos de privacidade</a></span>
            </div>
        </div>
    </div>
</footer>

<script src="/js/menu.js"></script>
<script src="/js/alert.js"></script>
<script src="/js/loading.js"></script>
<script src="/js/mask.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>

</html>

<script src="/js/translate.js"></script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>