<%- include('../admin/partials/header', {title: 'Soldiers Construções, Configurações' }) %>
    <main id="configurations">
        <%- include('../admin/partials/user') %>
            <div class="titlePage">
                <div class="titlePage-container">
                    <h1>Configurações</h1>
                    <span>Nessa página consegue alterar seus dados</span>
                </div>
            </div>
    </main>
    <%- include('../admin/partials/footer.ejs') %>