<%- include('../admin/partials/header', {title: 'Soldiers Construções' }) %>

    <main id="financial">
        <%- include('../admin/partials/user') %>
            <div class="titlePage">
                <div class="titlePage-container">
                    <h1>Financeiro</h1>
                    <span>Débitos cadastrados</span>
                </div>
            </div>

            <div class="action-container">
                <div class="action-content">
                    <div class="action-info">
                        <span>100 registros</span>
                    </div>
                    <div class="action-press">
                        <div>
                            <select name="" id="">
                                <option value="">Todos registros</option>
                            </select>
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text">
                        </div>
                        <button onclick="newModal('post')"><i class="fa-solid fa-plus"></i> Criar débito</button>
                    </div>
                </div>
            </div>


            <div class="list-container">

                <div class="list-content">
                    <div class="list-title">
                        <h4>Todas os débitos cadastradas</h4>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Teste1</th>
                                <th>teste2</th>
                                <th>teste3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
    </main>
    <%- include('../admin/partials/footer.ejs') %>