<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/publication.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/lib/fontawesome-free-6.1.1-web/css/all.css">
    <title>Document</title>
</head>

<body>
    <header>
        header
    </header>
    <main>

        <form method="post">
            <div new-post class="new-post-container">
                <div class="new-post-content ">
                    <div class="new-post-header">
                        <h2>Nova publicação</h2>
                        <i close class="fa-solid fa-xmark"></i>
                    </div>
                    <div class="new-post-main">
                        <div class="entry-content">
                            <div class="entry-value entry-bd-1">
                                <i class="fa-solid fa-file-signature"></i>
                                <input required type="text" name="title" placeholder="Título">
                            </div>
                            <div class="entry-value entry-bd-1">
                                <i class="fa-solid fa-table-list"></i>
                                <select name="category" id="">
                                    <option value="">Categoria</option>
                                    <option value="blog">Blog</option>
                                    <option value="empreendimentos">Empreendimentos</option>
                                    <option value="projetos-futuros">Projetos futuros</option>
                                </select>
                            </div>
                            <div class="entry-value entry-bd-1">
                                <i class="fa-solid fa-image"></i>
                                <label class="upload-file" for="image">
                                    Carregar... <span log-arq></span>
                                </label>
                                <input oninput="onLoadFile(event)" class="display-none" required id="image" type="file" name="image">
                            </div>
                        </div>
                        <textarea id="post" name=""></textarea>
                        <div class="btn-post">
                            <button onclick="loading(event)">Publicar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div>
            <span btn-change id=" debits ">Débitos</span>
            <span btn-change id="publication ">Publicações</span>
            <span btn-change id="users ">Usuários</span>
        </div>

        <div import-ejs>
            <%- include('./debits.ejs') %>
        </div>

    </main>
    <footer>
        footer
    </footer>

</body>

</html>

<script>
    const btn_change = document.querySelectorAll('[btn-change]')
    const import_ejs = document.querySelector('[import-ejs]')
    btn_change.forEach(btn => {
        btn.onclick = (e) => {
            const view = e.target.id
            switch (view) {
                case "users ":
                    import_ejs.innerHTML = `<%- include('./users.ejs') %>`
                    break
                case "publication ":
                    import_ejs.innerHTML = `<%- include('./publication.ejs') %>`
                    break
                default:
                    import_ejs.innerHTML = `<%- include('./debits.ejs') %>`
            }
        }
    })
</script>



<script src="/lib/tinymce/tinymce.min.js "></script>
<script src="/js/tinymceConfig.js "></script>
<script src="/js/loading.js"></script>
<script src="/js/fileLoad.js"></script>