<%- include('../admin/partials/header', {title: 'Soldiers Construções' }) %>

    <main id="users">
        <%- include('../admin/partials/user') %>
            <div class="titlePage">
                <div class="titlePage-container">
                    <h1>Usuários</h1>
                    <span>Usuários cadastrados</span>
                </div>
            </div>

            <div class="action-container">
                <div class="action-content">
                    <div class="action-info">
                        <span>100 registros</span>
                    </div>
                    <div class="action-press">
                        <div>
                            <select name="" id="">
                                <option value="">Todos registros</option>
                            </select>
                        </div>
                        <div>
                            <input type="text">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <button onclick="newModal('user')"><i class="fa-solid fa-plus"></i> Criar usuário</button>
                    </div>
                </div>
            </div>

            <form method="post" action="/admin/nova/publicacao" enctype="multipart/form-data">
                <div new-modal-user nancial class="new-modal-container">
                    <i close-user class="fa-solid fa-xmark modal-modal-close"></i>
                    <div class="new-modal-content ">
                        <div class="new-modal-header">
                            <h2>Novo usuário</h2>
                            <div class="btn-modal">
                                <button publicar onclick="loading(event)">Criar</button>
                            </div>
                        </div>
                        <div class="new-modal-main">
                            <div class="entry-content">
                                <div class="entry-value entry-bd-1">
                                    <i class="fa-solid fa-file-signature"></i>
                                    <input required type="text" name="title" placeholder="Título">
                                </div>
                                <div class="entry-value entry-bd-1">
                                    <i class="fa-solid fa-table-list"></i>
                                    <select name="category" id="">
                                        <option value="">Categoria</option>
                                        <option value="blog">Blog</option>
                                        <option value="empreendimentos">Empreendimentos</option>
                                        <option value="projetos-futuros">Projetos futuros</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="list-container">

                <div class="list-content">
                    <div class="list-title">
                        <h4>Todas as publicações cadastradas</h4>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Teste1</th>
                                <th>teste2</th>
                                <th>teste3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                            <tr>
                                <td>Teste1</td>
                                <td>Teste1</td>
                                <td>Teste1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

    </main>
    <%- include('../admin/partials/footer.ejs') %>

        <script src="/js/modal.js "></script>