<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/portal.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">


    <title>
        <%= title %>
    </title>
</head>

<body>
    <header class="navigation-container">
        <div class="navigation">
            <section class="navigationContainer">
                <div class="logo">
                    <img src="/img/logoB.svg" alt="">
                </div>
                <ul>
                    <li class="list active" data-active="home">
                        <a href="/admin">
                            <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="list" data-active="publications">
                        <a href="/admin/publicacao">
                            <span class="icon">
                            <ion-icon name="create-outline"></ion-icon>
                        </span>
                            <span class="title">Publicações</span>
                        </a>
                    </li>
                    <li class="list" data-active="users">
                        <a href="/admin/usuarios">
                            <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                            <span class="title">Usuarios</span>
                        </a>
                    </li>
                    <li class="list" data-active="financial">
                        <a href="/admin/financeiro">
                            <span class="icon">
                            <ion-icon name="wallet-outline"></ion-icon>
                        </span>
                            <span class="title">Financeiro</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </header>