<div class="user-isLogged">
    <div class="user-container">
        <div class="user-img">
            <img src="/img/user.jpg" alt="imagem-perfil">
        </div>
        <div class="user-name">
            <p>Antonio Edinadson</p>
            <ion-icon name="chevron-down-outline"></ion-icon>
            <div class="user-actions">
                <ul>
                    <li>
                        <a href="/logout">
                            <ion-icon name="exit-outline"></ion-icon>Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>